*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.6;
  background-color: #43463e;
  font-size: 16px;
  height: 100%;
}

#root {
  min-height: 100%;
}
